{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "chrome": 52
                },
                "debug": false,
                "useBuiltIns": "usage"
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-class-properties"]
}
